USE [master]
GO
/****** Object:  Database [DirectoryDB]    Script Date: 12.09.2022 01:37:11 ******/
CREATE DATABASE [DirectoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DirectoryDB', FILENAME = N'D:\Microsoft SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\DirectoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DirectoryDB_log', FILENAME = N'D:\Microsoft SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\DirectoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DirectoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DirectoryDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12.09.2022 01:37:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12.09.2022 01:37:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](50) NOT NULL,
	[category] [int] NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220911195610_mig_1', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220911203547_mig_2', N'6.0.8')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [NameSurname], [category], [PhoneNumber], [CreatedDate], [UpdatedDate]) VALUES (1, N'Deneme 1', 0, N'5555555555', CAST(N'2022-09-12T01:23:57.103' AS DateTime), CAST(N'2022-09-12T01:24:35.0946292' AS DateTime2))
INSERT [dbo].[Users] ([Id], [NameSurname], [category], [PhoneNumber], [CreatedDate], [UpdatedDate]) VALUES (2, N'Deneme 1', 1, N'2222222222', CAST(N'2022-09-12T01:24:20.803' AS DateTime), CAST(N'2022-09-12T01:34:55.9524285' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
